body{
font-family: "Do Hyeon";
}

h1 {
  font-family: 'Righteous', cursive;
  color: #207dff;
  font-size: 4rem !important;
}

.set1{
  background-color: #f9fd50;
  height: 600px;
  padding: 0;
}

.set2{
  height: 500px;
}

.set3{
  height: 500px;
}

h2 {
  padding: 0;
  font-family: 'Righteous', cursive;
  color: #207dff;
  font-size: 1.8rem !important;
}

h3{
  font-family: 'Righteous', cursive;
  color: #207dff;
}

.row{
  padding: 2% 10% 0 10%;
}

.nav-link{
  font-family: 'Ubuntu Mono', monospace;
  color: #207dff !important;
}

p{
  padding-left: 6%;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 14pt;
}

td{
padding: 10px;
}

table {
border-spacing: 20px;
}

hr{
  width: 50%;
}

.media {
  background-color: #f9fd50;
  padding-top: 20px;
}

#title{
  color: #649d66;
  height: 25rem;
}

.container-fluid{
  height: 10%;
  position: fixed;
}

.footer{
  background-color: #f9fd50;
  height: 200px;
  padding-top: 30px;
}

.social:hover{
  transform: scale(0.85);
}
