body{
  font-family: "Do Hyeon";
  overflow-x: hidden;
  width: 100vw;
}

h1 {
  font-family: 'Righteous', cursive;
  color: #207dff;
  font-size: 4rem !important;
}

.ceo{
  margin-right: 20px;
}

.row{
  padding: 0 10% 0 10%;
}

h2 {
  padding: 0;
  font-family: 'Righteous', cursive;
  color: #207dff;
  font-size: 1.8rem !important;
}

h3{
  font-family: 'Righteous', cursive;
  color: #207dff;
}

.navbar{
  border-radius: 10px;
}

.nav-link{
  font-family: 'Ubuntu Mono', monospace;
  color: #207dff !important;
}

p{
  padding-left: 6%;
  font-family: 'Ubuntu', sans-serif;
  color: black;
  font-size: 14pt;
}

td{
padding: 10px;
}

table {
border-spacing: 20px;
}

hr{
  width: 50%;
}

.media {
  background-color: #f9fd50;
  padding-top: 20px;
}

#title{
  background-color: #f9fd50;
  height: 30%;
  padding: 0;
}

.container-fluid{
  height: 12%;
}

.footer{
  background-color: #f9fd50;
  height: 200px;
  padding-top: 30px;
}

.social:hover{
  transform: scale(0.85);
}
